.c-pr {
  color: $primary-theme-text-color;
}

.bg-pr {
  background-color: $primary-theme-bg-color;
}

.c-sc {
  color: $secondary-theme-text-color;
}

.bg-sc {
  background-color: $secondary-theme-bg-color;
}

.c-tr {
  color: $tertiary-theme-text-color;
}

.bg-tr {
  background-color: $tertiary-theme-bg-color;
}

.bg-white {
  background-color: #ffffff;
}