$primary-theme-bg-color: #2b3252;
$primary-theme-text-color: #fad744;
$secondary-theme-bg-color: #e60000;
$secondary-theme-text-color: #2b3252;
$tertiary-theme-bg-color: #fad744;
$tertiary-theme-text-color: #e60000;
$max-width-for-mobile: 600px;