.topnav {
  overflow: hidden;
  background-color: $primary-theme-bg-color;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.fake a {
    display: block;
    padding: 15px 16px;

  }

  a {
    display: block;
    float: left;
    color: $primary-theme-text-color;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      background-color: $tertiary-theme-bg-color;
      color: $tertiary-theme-text-color;
    }

    &.active {
      background-color: $secondary-theme-bg-color;
      color: $secondary-theme-text-color;
    }
  }

  .cross {
    display: none;
  }

  .bars {
    display: none;
    padding: 8px 12px;
  }
}

@media screen and (max-width: $max-width-for-mobile) {
  .topnav {
    a {
      float: none;
      text-align: left;
    }

    .navContainer {
      display: none;
    }

    .bars {
      float: right;
      display: block;
    }

    &.responsive {
      display: block;
      position: relative;

      .cross {
        position: absolute;
        right: 22px;
        top: 15px;
        display: block;
      }

      .navContainer {
        display: block;
      }
    }
  }
}